<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Recommendation App</title>
    <link rel="stylesheet" type="text/css" href="../static/substyle.css" />
    <link rel="icon" href="../static/spotify-xxl.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-container">
      <a href="../">Home</a>
      <a href="../about">About</a>
      <a href="../login">Login</a>
      <a href="../recommendations">Recommendations</a>
      <a href="../logout">Logout</a>
      </div>
    </div>
    <h1>
      About
    </h1>
    <p>
      This site uses various features of the <a href ="https://developer.spotify.com/documentation/web-api">Spotify API</a>
      to reflect desired user streaming data such as song/artist
      recommendations, your top listened to artists/songs, and more.
    </p>
    <p>
      I created this web app to make a more streamlined user
      experience with Spotify's web API. As an avid music listener,
      I'm always looking for more music to listen to and expand my
      musical palate, and I wanted to bring this experience to other
      like-minded users.
    </p>
    <p>
      For more information, feel free to visit my <a href="https://github.com/ianblakley/">GitHub</a>
      and send me a message on there. I'm also going to shamelessly plug
      my <a href="https://www.linkedin.com/in/ian-blakley">LinkedIn</a> 
      here as well if you'd like to learn more about me or connect!
    </p>
    <div class="about-container">
      <a href="https://github.com/ianblakley/">
        <img src="../static/GitHub_Logo.png" alt="GitHub Logo">
      </a>
      <a href="https://www.linkedin.com/in/ian-blakley/">
        <img src="../static/LI-Logo.png" alt="LinkedIn Logo">
      </a>
    </div>
  </body>
</html>