<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Recommendation App</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="icon" href="../static/spotify-xxl.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-container">
      <a href="../">Home</a>
      <a href="../about">About</a>
      <a href="../login">Login</a>
      <a href="../recommendations">Recommendations</a>
      <a href="../logout">Logout</a>
      </div>
    </div>
    <h1>Spotify Recommendation App</h1>
    <p>
      Welcome! To get started, use the 
      <a href="https://developer.spotify.com/documentation/web-api">Spotify for Developers website</a> 
      and follow the steps under <em>getting started</em> until you've gained access to your client id
      and client secret codes.
    </p>
    <p>
      Once you've done that, click <a href="../login">here</a> to get started.
    </p>
  </body>
</html>